.tiles{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-rows: repeat(var(--row), 1fr);
    position: absolute;
    top: 0;
    left: 0;
}

.tile {
  top:auto;
  left:auto;
  height: 100px;
  width: 100px;
  width: 100%;
  margin: 0;
  /* border: 1px solid black;  */
}

.active {
  background-color: #0f62fe;
}

.active:hover {
  background-color: #0f63fec5;
}